* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #003;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Styling the Navigation Bar */
.navbar-container {
  background-color: rgb(8, 100, 100);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px 0 100px;
  padding: 10px;
}

.navbar h1 {
  cursor: pointer;
  font-family: "sofia", sans-serif;
  font-size: 25px;
  text-shadow: 8px 8px 8px #003;
}

.navbar ul {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.navbar ul a {
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar ul a:hover {
  background-color: rgb(25, 150, 150);
  border-radius: 5px;
  transition: 0.5s;
}

/* SHOWCASE SECTION STYLING */
.showcase-wrapper {
  width: 100vw;
}

.showcase-wrapper .container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin: 100px 0;
}

.showcase-wrapper .container img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.showcase-content {
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  width: 35%;
}

.name {
  white-space: nowrap;
}

.stack {
  font-size: 1.75rem;
  color: rgb(28, 248, 248);
}

.media-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.media-wrapper a {
  color: #fff;
}

.media-wrapper a:hover {
  color: rgb(15, 96, 96);
  transition: 0.65s;
}

.btn {
  background-color: rgb(30, 139, 139);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 0.7rem;
  border: 2px solid #fff;
  border-radius: 10%;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.65s;
}

.btn:hover {
  background-color: rgb(28, 248, 248);
  border: 2px solid red;
  color: #003;
}

/* ABOUT-ME SECTION STYLING  */
.about-me {
  text-align: center;
  margin-top: 15rem;
}

.brief {
  align-items: center;
}

.Bout {
  color: rgb(28, 248, 248);
  margin-bottom: 1rem;
}

.about-me p {
  margin: 0.7rem 8rem 0.7rem 8rem;
  gap: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 1.7rem;
}

.About-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 50px;
  margin-top: 2rem;
  box-shadow: 0 4px 4px 0 rgb(28, 248, 248);
}

/* SKILLS SECTION STYLING */
.skills {
  margin-top: 15rem;
}

.skills h2 {
  text-align: center;
  color: rgb(28, 248, 248);
  margin-bottom: 1.75rem;
}

.skills h3 {
  margin-bottom: 1.25rem;
  margin-left: 16.5rem;
  font-size: 18px;
  color: red;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.tool {
  font-size: 20px;
}

.skills-icon {
  text-align: center;
  font-size: 50px;
  color: rgb(30, 139, 139);
}

/* CONTACT SECTION STYLING */
.contactSocial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.contact h2 {
  text-align: center;
  color: rgb(28, 248, 248);
  margin-bottom: 2rem;
}

.contact h3 {
  text-align: center;
  padding: 10px;
  color: rgb(35, 155, 155);
}

.form-wrapper {
  border: 1px solid rgb(15, 96, 96);
  width: 100%;
  margin: auto;
}

.form-detail {
  padding: 5px;
}

.form-cointainer {
  padding: 30px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(28, 248, 248);
  border-radius: 5px;
  background-color: #003;
  color: #fff;
  font-size: 18px;
}

input:focus {
  background-color: #f8f3f3;
  color: #003;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid rgb(28, 248, 248);
  border-radius: 5px;
  background-color: #003;
  color: #fff;
  font-size: 18px;
}

textarea:focus {
  background-color: #f8f3f3;
  color: #003;
}

.contact-btn {
  width: 25%;
  padding: 10px;
  background-color: rgb(30, 139, 139);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgb(28, 248, 248);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 5px;
}

.contact-btn:hover {
  background-color: rgb(28, 248, 248);
  border: 2px solid red;
  color: #003;
  transition: 0.65s;
}

/* SOCIAL MEDIA CONNECT SECTION */
.social-connect {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-connect h1 {
  font-size: 30px;
  color: red;
}

.social-links {
  display: flex;
  gap: 20px;
  font-size: 35px;
}

.social-links a {
  color: rgb(28, 248, 248);
}

.social-links a:hover {
  color: rgb(15, 96, 96);
  transition: 0.65s;
}
